.grid-wrapper {
  margin: 5em 0;
}

.slick-prev {
  left: 30px !important;
}

.slick-next {
  right: 30px !important;
}

.slick-arrow {
  bottom: -45px !important;
  top: auto;
  filter: drop-shadow(2px 4px 6px var(--color-black));
  z-index: 1;
}
