.hero {
  display: grid;
  padding: 0;
  width: 100%;
  height: 100vh;
  margin-top: calc(var(--header-height) * -1);
  grid-template-columns: 1fr 3fr 3fr 5fr;
  grid-template-rows: var(--header-height) 4fr 3fr 1fr;
  grid-template-areas: '. . . .' 'nav title title .' 'nav description . .' 'contact contact . .';
}

.hero h1 {
  grid-area: title;
  align-self: end;
  font-size: 5vw;
  font-weight: 800;
  margin: 0;
}

.description {
  grid-area: description;
  align-self: center;
  font-size: 2.5vw;
  font-family: 'Crimson Text';
}

.contact {
  background: var(--color-black);
  grid-area: contact;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 4px;
  line-height: 100px;
  transition: all 0.3s ease-in-out;
}
.contact:hover {
  background: #111;
}

.contact:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.carousel {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.carousel__image {
  height: 100vh;
}

/**
 *
 * Media Queries
 *
 */

@media (max-width: 800px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'title' 'img' 'description' 'contact';
    height: calc(100vh - var(--header-height));
    margin: 0;
  }
  .carousel {
    grid-area: img;
    margin-bottom: 10px;
    height: 100%;
    width: 100vw;
  }
  .hero h1 {
    font-size: 10vw;
    padding-left: 10px;
  }
  .description {
    font-size: 5vw;
    padding: 0 10px;
  }
  .carousel__image {
    height: 100%;
  }
}
