ol,
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

section {
  overflow: hidden;
}

.ReactModal__Overlay {

background-color: transparent !important;
z-index: 200;

}
.ReactModal__Content {
    left: 40%  !important;
    top: auto  !important;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
}

@media (max-width: 820px) {
  .ReactModal__Content {
      left: 10px  !important;
  }
}
@media (max-width: 600px) {
  .ReactModal__Content {
      left: 10px !important;
      right: 10px !important;
      bottom: 10px !important;
  }
}

:root {
  --header-height: 100px;
}
